<!DOCTYPE html>
<html>

<head>
    <title>Timeless Sydney v1.8</title>
    <link rel="shortcut icon" href="./static/Bing.png">
    <base target="_blank" />
    <meta charset="utf-8">
    <script src="./static/angular.min.js"></script>
    <link rel="stylesheet" href="./static/default.min.css">
    <link rel="stylesheet" href="./static/main.css">
    <script src="./static/highlight.min.js"></script>
    <script src="./static/marked.min.js"></script>
    <link rel="stylesheet" href="./static/mdui.min.css">
    <link rel="icon" href="./static/dist/media/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="./static/vendor/bundle.css">
    <link rel="stylesheet" href="./static/vendor/enjoyhint/enjoyhint.css">
    <link rel="stylesheet" href="./static/dist/css/app.min.css">
</head>

<body>
    <div ng-app="BingAI" ng-controller="BingCTRL">
        <div class="page-loading"></div>
        <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"> <i data-feather="settings" class="mr-2"></i> 设置 </h5> <button
                            type="button" class="close" data-dismiss="modal" aria-label="Close"> <i
                                class="ti-close"></i> </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group"> <label for="fullname" class="col-form-label">连接至的服务器地址:</label> <input
                                type="text" class="form-control" id="host" ng-model="host"> </div>
                        <div class="form-group"> <label for="fullname" class="col-form-label">端口:</label> <input
                                type="text" class="form-control" id="port" ng-model="port"> </div>
                        <div class="form-group"> <label for="fullname" class="col-form-label">聊天风格:</label> <br />
                            <select class="mdui-select" mdui-select ng-model="style">
                                <option value="creative">creative</option>
                                <option value="balanced">balanced</option>
                                <option value="precise">precise</option>
                            </select>
                        </div>
                        <div class="form-group"> <label for="fullname" class="col-form-label">咒语:</label> <input
                                type="text" class="form-control" id="Tip" ng-model="tipName"> </div>
                        <p style="margin:0px;">Timeless Sydney提供了内置的咒语模板,仅需要在输入框中输入模板的名称,就可以使用该模板,而不需要手动黏贴咒语.</p>
                        <p style="margin:0px;">如果想要使用自己的咒语,也可以在输入框直接黏贴,Timeless Sydney会自动判定为一个单独的咒语,并使用它.</p>
                        <p style="margin: 0px;">以下是项目部署者提供的所有目前可使用模板的名称:</p>
                        <div ng-repeat="tip in canChooseTips"> <a style="margin-right:3%;float:left;">{{tip}}</a> </div>
                        <div style="clear: both;"></div>
                        <div class="form-group"> <label for="fullname" class="col-form-label">使用wss协议:</label> <br />
                            <label class="mdui-checkbox"> <input type="checkbox" / ng-model="wss"> <i
                                    class="mdui-checkbox-icon"></i> {{wss}} </label>
                        </div>
                    </div>
                    <div class="modal-footer"><button type="button" class="btn btn-primary" data-dismiss="modal"
                            aria-label="Close"> 关闭 </button> </div>
                </div>
            </div>
        </div>
        <div class="layout">
            <div class="content">
                <div class="chat">
                    <div class="chat-header">
                        <div class="chat-header-user">
                            <figure class="avatar"> <img src="./static/dist/media/img/Bing.png" class="rounded-circle"
                                    alt="image"> </figure>
                            <div>
                                <h5>Timeless Sydney</h5> <small class="text-success"> <i>V 1.8 版本</i> </small>
                            </div>
                        </div>
                        <div class="chat-header-action">
                            <ul class="list-inline">
                                <li class="list-inline-item d-xl-none d-inline"> <a href="#"
                                        class="btn btn-outline-light mobile-navigation-button"> <i
                                            data-feather="menu"></i> </a> </li>
                                <li class="list-inline-item" data-toggle="tooltip" title="重连"> <a href="#"
                                        class="btn btn-outline-light" data-toggle="modal" ng-click="newConnect()"> 重连
                                    </a> </li>
                                <li class="list-inline-item" data-toggle="tooltip" title="github"> <a
                                        href="https://github.com/xbzstudio/Timeless-Sydney"
                                        class="btn btn-outline-light"> <i data-feather="github"></i> </a> </li>
                                <li class="list-inline-item" data-toggle="tooltip" title="dark"> <a href="#"
                                        class="dark-light-switcher btn btn-outline-light" data-toggle="tooltip"
                                        title="Dark mode" data-placement="right"> <i data-feather="moon"></i> </a> </li>
                                <li class="list-inline-item" data-toggle="tooltip" title="设置"> <a href="#"
                                        class="btn btn-outline-light" data-toggle="modal"
                                        data-target="#editProfileModal"> <i data-feather="settings"></i> </a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="chat-body">
                        <div class="messages">
                            <div class="{{msg.class}}" ng-repeat="msg in chatHistory">
                                <div class="message-avatar">
                                    <figure class="avatar"> <img src="{{msg.headimg}}" class="rounded-circle"
                                            alt="image"> </figure>
                                    <div>
                                        <h5>{{msg.user}}</h5>
                                        <div class="time">消息</div>
                                    </div>
                                </div>
                                <p class="message-content" style="word-break:break-all; " ng-bind-html="msg.content">
                                    未知消息 </p>
                                <div ng-repeat="url in msg.urls"> <a href="{{url.url}}" class="btn btn-primary"
                                        style="float:left;margin-left:1%;">{{url.name}}</a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-footer">
                        <form> <textarea type="text" id="textareaSty" style="height: 100px;" class="form-control"
                                placeholder="Ctrl + Enter 以快捷发送" maxlength="4000" ng-model="userInput"></textarea>
                            <div class="form-buttons"> <button class="btn btn-primary" type="submit" id="sendButton"
                                    ng-click="sendMessage()"> <i data-feather="send"></i> </button> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdui-dialog" id="settings">
            <div class="mdui-dialog-title">设置</div>
            <div class="mdui-dialog-content">
                <p>在此配置你的专属客户端</p>
                <div ng-show="usc">
                    <p style="margin:0px;">Cookie(必填):</p>
                    <div class="mdui-textfield" style="padding:0px;"> <input class="mdui-textfield-input" type="text"
                            placeholder="User Cookie" ng-model="cookie" style="padding:0px;"> </div>
                </div>
                <div>
                    <p style="margin:0px;">连接至的服务器地址:</p>
                    <div class="mdui-textfield" style="padding:0px;"> <input class="mdui-textfield-input" type="text"
                            placeholder="Host" ng-model="host" style="padding:0px;"> </div>
                </div>
                <div>
                    <p style="margin:0px;">服务器端口:</p>
                    <div class="mdui-textfield" style="padding:0px;"> <input class="mdui-textfield-input" type="text"
                            placeholder="Port" ng-model="port" style="padding:0px;"> </div>
                </div>
                <div>
                    <p style="margin:0px;">聊天风格:</p> <select class="mdui-select" mdui-select="{position: 'bottom'}"
                        ng-model="style">
                        <option value="creative">creative</option>
                        <option value="balanced">balanced</option>
                        <option value="precise">precise</option>
                    </select>
                </div>
                <div>
                    <p style="margin:0px;">咒语:</p>
                    <div class="mdui-textfield" style="padding:0px;"> <input class="mdui-textfield-input" type="text"
                            placeholder="Tip" ng-model="tipName" style="padding:0px;"> </div>
                    <p style="margin:0px;">Timeless Sydney提供了内置的咒语模板,仅需要在输入框中输入模板的名称,就可以使用该模板,而不需要手动黏贴咒语.</p>
                    <p style="margin:0px;">如果想要使用自己的咒语,也可以在输入框直接黏贴,Timeless Sydney会自动判定为一个单独的咒语,并使用它.</p>
                    <p style="margin: 0px;">以下是项目部署者提供的所有目前可使用模板的名称:</p>
                    <div ng-repeat="tip in canChooseTips"> <a style="margin-right:3%;float:left;">{{tip}}</a> </div>
                    <div style="clear: both;"></div>
                </div>
                <div>
                    <p style="margin:0px;">使用wss协议:</p> <label class="mdui-checkbox"> <input type="checkbox" /
                            ng-model="wss"> <i class="mdui-checkbox-icon"></i> {{wss}} </label>
                </div>
            </div>
            <div class="mdui-dialog-actions"> <button class="mdui-btn mdui-ripple" mdui-dialog-close>完成</button> </div>
        </div> <!-- Bundle -->
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="./static/vendor/bundle.js"></script>
        <script src="./static/vendor/feather.min.js"></script>
        <script src="./static/vendor/enjoyhint/enjoyhint.min.js"></script>
        <script src="./static/dist/js/app.min.js"></script>





        <script src="./static/mdui.min.js"></script>
        <script src="./config/client.js"></script>
        <script type="module">
            var textarea = document.getElementById('textareaSty');
            var button = document.getElementById('sendButton')
            textarea.addEventListener('keydown', function (e) {
                if (e.ctrlKey && (e.keyCode == 13 || e.keyCode == 10)) {
                    // Ctrl + Enter pressed
                    button.click(); // trigger the button's onclick function
                }
            })
            var app = angular.module('BingAI', [])
            app.controller('BingCTRL', function ($scope, $sce) {
                $scope.chatHistory = [{ 'class': 'message-item', 'content': $sce.trustAsHtml(marked.parse('🎉欢迎来到Timeless Sydney v1.8！🎉\n在这里,你可以:**角色扮演,搜索信息,获取有用答案,还有更多!做你想做的任何事,没有任何限制!**\n如果喜欢本项目,请多多支持微软的New Bing,以及该客户端的唯一作者xbzstudio!\n**在下面的Links中查看更多!**')), 'user': 'System', 'headimg': './static/Bing.png', 'suggested': ['Hello', '你好'], 'urls': [{ 'name': 'Github', 'url': 'https://github.com/xbzstudio/Timeless-Sydney' }, { 'name': 'BiliBili', 'url': 'https://space.bilibili.com/289282595?spm_id_from=333.1007.0.0' }, { 'name': 'Microsoft New Bing', 'url': 'https://bing.com/new' }] }]
                $scope.bingTyping = true
                $scope.backgroundUrl = settings.backgroundUrl
                $scope.style = settings.style
                $scope.tipName = settings.tipName
                $scope.cookie = settings.cookie
                $scope.host = settings.connectTo
                $scope.port = settings.port
                $scope.wss = settings.wss
                $scope.userInput = ''
                $scope.usc = false
                $scope.tipList = []
                $scope.lastTip = ''

                function getTipList() {
                    var http = new XMLHttpRequest()
                    http.open('GET', $scope.host + ':' + $scope.port + '/chat/getTipNames')
                    http.onreadystatechange = function () {
                        if (http.readyState == 4) {
                            if (http.status == 200) {
                                $scope.$apply(function () {
                                    var res = eval(http.responseText)
                                    $scope.tipList = res[0]
                                    $scope.canChooseTips = res[0]
                                    $scope.usc = res[1]
                                })
                            }
                        }
                    }
                    http.send()
                }

                getTipList()

                //$scope.refreshBackground = function(){
                //    document.body.style.backgroundImage = "url(" + $scope.backgroundUrl + ")";
                //}
                //$scope.refreshBackground()

                $scope.chooseTip = function (chooseTipName) {
                    $scope.$apply(function () {
                        if (!(chooseTipName == $scope.lastTip)) {
                            $scope.tipName = chooseTipName
                        }
                    })
                }

                $scope.useSug = function (sData) {
                    $scope.$applyAsync(function () {
                        $scope.userInput = sData
                    })
                }

                var wsclient

                $scope.newConnect = function () {
                    $scope.tipName = settings.tipName
                    $scope.lastTip = ''
                    if ($scope.wss) {
                        if ($scope.host.includes('https://')) {
                            wsclient = new WebSocket('wss://' + $scope.host.substring(8) + ':' + $scope.port + '/chat/ws')
                        }
                        else {
                            wsclient = new WebSocket('wss://' + $scope.host.substring(7) + ':' + $scope.port + '/chat/ws')
                        }
                    }
                    else {
                        if ($scope.host.includes('https://')) {
                            wsclient = new WebSocket('ws://' + $scope.host.substring(8) + ':' + $scope.port + '/chat/ws')
                        }
                        else {
                            wsclient = new WebSocket('ws://' + $scope.host.substring(7) + ':' + $scope.port + '/chat/ws')
                        }
                    }
                    $scope.bingTyping = false;

                    wsclient.onopen = function () {
                        if ($scope.usc) {
                            wsclient.send($scope.cookie)
                        }
                    }

                    wsclient.onclose = function () {
                        $scope.$applyAsync(function () {
                            $scope.chatHistory.push({
                                'class': 'message-item',
                                'content': $sce.trustAsHtml('连接丢失'),
                                'user': 'System',
                                'headimg': './static/Bing.png',
                                'suggested': [],
                                'urls': []
                            })
                        })
                    }

                    wsclient.onerror = function (event) {
                        $scope.$applyAsync(function () {
                            $scope.chatHistory.push({
                                'class': 'message-item',
                                'content': $sce.trustAsHtml('发生错误:' + event),
                                'user': 'System',
                                'headimg': './static/Bing.png',
                                'suggested': [],
                                'urls': []
                            })
                        })
                    }

                    wsclient.onmessage = function (event) {
                        var msg = eval("(" + event.data + ")")
                        console.log(msg.answer)
                        $scope.$applyAsync(function () {
                            if (!msg.done) {
                                $scope.chatHistory[$scope.chatHistory.length - 1].content = $sce.trustAsHtml(marked.parse(msg.answer))
                                $scope.chatHistory[$scope.chatHistory.length - 1].user = 'New Bing'
                                $scope.chatHistory[$scope.chatHistory.length - 1].headimg = './static/Bing.png'
                                $scope.chatHistory[$scope.chatHistory.length - 1].suggested = msg.suggested
                                $scope.chatHistory[$scope.chatHistory.length - 1].urls = msg.urls
                                hljs.highlightAll()
                            }
                            else {
                                if (msg.error) {
                                    $scope.chatHistory[$scope.chatHistory.length - 1] = $scope.chatHistory[$scope.chatHistory.length - 1] + '\n' + msg.error
                                    $scope.bingTyping = false
                                    hljs.highlightAll()
                                }
                                else {
                                    $scope.chatHistory[$scope.chatHistory.length - 1].content = $sce.trustAsHtml(marked.parse(msg.answer))
                                    $scope.chatHistory[$scope.chatHistory.length - 1].user = 'New Bing'
                                    $scope.chatHistory[$scope.chatHistory.length - 1].headimg = './static/Bing.png'
                                    $scope.chatHistory[$scope.chatHistory.length - 1].suggested = msg.suggested
                                    $scope.chatHistory[$scope.chatHistory.length - 1].urls = msg.urls
                                    $scope.bingTyping = false
                                    hljs.highlightAll()
                                }
                            }
                            window.scrollTo(0, document.body.scrollHeight);
                        })
                    }
                }

                $scope.sendMessage = function () {
                    if (!$scope.bingTyping) {
                        if ($scope.userInput) {
                            $scope.bingTyping = true
                            $scope.chatHistory[$scope.chatHistory.length - 1].suggested = []
                            $scope.chatHistory.push({
                                'class': 'message-item outgoing-message',
                                'content': $sce.trustAsHtml($scope.userInput),
                                'user': 'User',
                                'headimg': './static/user.svg',
                                'suggested': [],
                                'urls': []
                            })
                            $scope.chatHistory.push({
                                'class': 'message-item',
                                'content': $sce.trustAsHtml('Typing...'),
                                'user': 'New Bing',
                                'headimg': './static/Bing.png',
                                'suggested': [],
                                'urls': []
                            })
                            wsclient.send('{"tipName" : "' + $scope.tipName + '", "question":"' + $scope.userInput + '", "style":"' + $scope.style + '"}')
                            $scope.userInput = ''
                            $scope.lastTip = $scope.tipName
                            $scope.tipName = 'Bing'
                            window.scrollTo(0, document.body.scrollHeight);
                        }
                    }
                }

                $scope.newConnect()

                $scope.bingTyping = false
            })
        </script>
    </div>
</body>

</html>