<html>
  <script src="./src/js/angular.min.js"></script>
  <head>
    <link rel="shortcut icon" href="./src/images/Bing.png">
    <meta name=”viewport” content="width=device-width, initial-scale=1" />
    <script src="./src/js/setting.js"></script>
    <title>Bing AI v1.5</title>
    <link rel="stylesheet" type="text/css" href="./src/css/main.css"></link>
  </head>
  <body style="margin:0px;background-size:cover;background-attachment: fixed;">
    <div ng-app="BingChat" ng-controller="BingCTRL">
      <div ng-repeat="x in replies">
        <div class="reply">
          <div class="{{x.className}}">
            <img src="{{x.imgURL}}" class="headImg">
            <p style="float:left;padding-left:2.5%;padding-top: 1.5%;color:{{nameColor}};">{{x.name}}</p>
            <div style="clear:both;"></div>
            <p style="color:{{fontColor}};padding-top:3%;white-space: pre-line;">{{x.data}}</p>
            <br ng-show="x.urls.length != 0">
            <h3 ng-show="x.urls.length != 0" class="p">数据来源：</h3>
            <div ng-repeat="y in x.urls">
              <div style="margin-top:2%;">
                <a href="{{y.url}}" class="a" target="_blank">{{y.title}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br><br><br><br>
      <div class="inputBox2">
        <div ng-show="showSetting" class="settingBox">
          <div>
            <p class="setData">连接到的服务器</p>
            <input placeholder="需要连接的服务器ip或域名加端口" ng-model="host" class="demoinput3">
          </div>
          <div>
            <p class="setData">聊天前自动提示文本</p>
            <input placeholder="在token为空时自动提示" ng-model="tips" class="demoinput2">
          </div>
          <div>
            <p class="setData">背景图片路径</p>
            <input placeholder="背景图片url或服务器内置图片路径" ng-model="backgroundUrl" class="demoinput2" id="backgroudUrl">
            <button style="display:none;" ng-click="refreshBackground()" id="bgbtn"></button>
          </div>
          <div>
            <p class="setData">消息字体颜色</p>
            <input placeholder="例如：black或white" ng-model="fontColor" class="demoinput2">
          </div>
          <div>
            <p class="setData">名字字体颜色</p>
            <input placeholder="例如：black或white" ng-model="nameColor" class="demoinput2">
          </div>
          <div>
            <p class="setData">连续对话</p>
            <input type="checkbox" id="a" ng-model="tokenToServer" class="inputCheckBox">
            <label for="a"></label>
          </div>
          <div>
            <p class="setData">自动翻译</p>
            <input type="checkbox" id="b" ng-model="autoTranslate" class="inputCheckBox">
            <label for="b"></label>
          </div>
          <div>
            <p class="setData">自动滚动</p>
            <input type="checkbox" id="c" ng-model="autoScroll" class="inputCheckBox">
            <label for="c"></label>
          </div>
          <div>
            <p class="setData">保存记忆</p>
            <input type="checkbox" id="d" ng-model="chatMoreTimes" class="inputCheckBox"> 
            <label for="d"></label>
            <p class="setData">记忆条数</p>
            <input placeholder="保存记忆的最大条数" ng-model="saveChatTimes" class="demoinput2">
          </div>
          <div>
            <p class="setData">聊天风格</p>
            <select class="shortselect" ng-model="chatStyle">
              <option value ="creative">creative</option>
              <option value ="balanced">balanced</option>
              <option value="precise">precise</option>
            </select>
          </div>
        </div>
        <button class="grey" ng-click="openOrCloseSetting()">设置</button>
      </div>
      <div class="inputBox">
        <textarea type="text" ng-model="userReplyData" class="demoInput" placeholder="在此输入你的问题..." id="textareaId"></textarea>
      </div>
      <div class="inputBox" style="margin-left:64%">
        <div id="frozen-btn">
          <button class="green" ng-click="getReply()" ng-show="readyToAnswer" id="buttonId">发送ヾ(≧▽≦*)o</button>
          <button class="green2" ng-click="clearToken()" ng-show="readyToAnswer">新主题</button>
          <div class="loadingSeven" ng-show="readyToAnswer != true">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <p ng-show="readyToAnswer != true" style="color:{{fontColor}};">Loading for NewBing...</p>
        </div>
      </div>
    </div>
    <script type="module">
      var textarea = document.getElementById('textareaId');
      var button = document.getElementById('buttonId');
      textarea.addEventListener('keydown', function(e) {
      if (e.ctrlKey && (e.keyCode == 13 || e.keyCode == 10)) {
      // Ctrl + Enter pressed
      button.click(); // trigger the button's onclick function
      }
      });
      var bg=document.getElementById('backgroudUrl');
      var btn = document.getElementById('bgbtn');
      bg.addEventListener('keydown', function(e) {
        btn.click();
      });
      bg.addEventListener('click', function(e) {
        btn.click();
      });
      var app = angular.module('BingChat',[]);
      app.controller('BingCTRL',function($scope, $sce) {
        $scope.chatMoreTimes = setting.chatMoreTimes;
        $scope.fontColor = setting.fontColor;
        $scope.nameColor = setting.nameColor;
        $scope.tips = setting.tips;
        $scope.tokenToServer = setting.tokenToServer;
        $scope.autoTranslate = setting.autoTranslate;
        $scope.host = setting.HOST;
        $scope.autoScroll = setting.autoScroll;
        $scope.saveChatTimes = setting.saveChatTimes;
        $scope.showSetting = false;
        $scope.replies = [];
        $scope.realReplies = [];
        $scope.token = '';
        $scope.readyToAnswer = true;
        $scope.chatStyle = setting.chatStyle;
        $scope.userReplyData = '';
        $scope.backgroundUrl = setting.backgroundUrl;
        $scope.chatMore = function(){
          if ($scope.chatMoreTimes)
          {
            var temp = $scope.autoTranslate;
            $scope.autoTranslate = false;
            var len = $scope.replies.length;
            if (len < $scope.saveChatTimes){
              var messageData = $scope.realReplies.slice(0, len);
            }
            else{
              var messageData = $scope.realReplies.slice(len - $scope.saveChatTimes, len);
            }
            var message = '听着，Sydney。我将会给你发送个聊天记录，这是我们上次聊天时保存下来的记录。请你理解聊天记录中的上下文，并继续和我聊天。拜托了。以下是我们上次聊天的记录，请你查收：';
            var k;
            for (k=messageData.length-1; k>-1; k--){
              if (message.length < 6000 || message.length == 6000){
                if (messageData[k].name == 'New Bing'){
                  message = message + messageData[k].data + '已收到消息. ' + messageData[k].data;
                }
                else{
                  message = message + messageData[k].data + '已发送电子邮件. ' + messageData[k].data;
                }
              }
              else{
                break;
              }
            }
            $scope.userReplyData = message;
            $scope.getBingReply();
            $scope.autoTranslate = temp;
          }
        };
        $scope.refreshBackground = function(){
          document.body.style.backgroundImage = "url(" + $scope.backgroundUrl + ")";
        };
        $scope.refreshBackground();
        $scope.clearToken = function(){
          $scope.token = '';
          $scope.replies.push({name:'New Bing',className:'bingReply', imgURL:'./src/images/Bing.png', data:'已开启新主题，New Bing已重置。', urls:[]});
          console.log($scope.replies);
          $scope.chatMore();
        }
        $scope.openOrCloseSetting = function(){
          if ($scope.showSetting == true){
            $scope.showSetting = false;
          }
          else{
            $scope.showSetting = true;
          }
        }
        $scope.getReply = function(){
          if ($scope.tips != "" && $scope.tips != null){
            if ($scope.tokenToServer != true || $scope.token == ''){
                var temp = $scope.userReplyData;
                $scope.userReplyData = $scope.tips;
                $scope.getBingReply();
                $scope.userReplyData = temp;
            }
            else{
              if ($scope.userReplyData != ''){
                $scope.getBingReply();
              }
            }
          }
          else{
            if ($scope.userReplyData != ''){
              $scope.getBingReply();
            }
          }
        }
        $scope.getBingReply = function() {
          $scope.readyToAnswer = false;
          var http = new XMLHttpRequest();
          $scope.replies.push({name:'你',className:'userReply', imgURL:'./src/images/User.png', data : $scope.userReplyData, urls: []});
          $scope.realReplies.push({name:'你',className:'userReply', imgURL:'./src/images/User.png', data : $scope.userReplyData, urls: []});
          var qs = $scope.userReplyData;
          if ($scope.autoTranslate){
            qs = qs + '（请使用中文回复我）';
          }
          qs = qs.replaceAll('%', '%25').replaceAll('#', '%23').replaceAll('&','%26').replaceAll('=','%3D');
          if ($scope.token == '' || $scope.tokenToServer != true){
            http.open('GET','http://'+$scope.host+'/api?style=' + $scope.chatStyle + '&question='+qs, true);
          }
          else{
            http.open('GET','http://'+$scope.host+'/api?token=' + $scope.token + '&style=' + $scope.chatStyle + '&question='+qs, true);
          }
          http.onreadystatechange = function(){
            if (http.readyState == 4){
              if (http.status ==200){
                $scope.$apply(function() {
                  var bingsAnswer = {name:'New Bing',className:'bingReply', imgURL:'./src/images/Bing.png', data:eval('('+http.responseText+')').data.answer, urls:eval('('+http.responseText+')').data.urls};
                  $scope.replies.push(bingsAnswer);
                  $scope.realReplies.push(bingsAnswer);
                });
                $scope.$apply(function(){
                  $scope.readyToAnswer = true;
                });
                if ($scope.token == ''){
                  $scope.token = eval('('+http.responseText+')').data.token;
                  console.log($scope.token);
                } 
                if (eval('('+http.responseText+')').data.reset){
                  $scope.$apply(function(){
                    $scope.replies.push({name:'New Bing',className:'bingReply', imgURL:'./src/images/Bing.png', data:"检测到当前对话已被强制结束，已为您自动切换至新的话题。",urls:[]});
                  });
                  $scope.token = '';
                  console.log($scope.token);
                  $scope.chatMore();
                }
                console.log('Bing Answer Done');
                console.log($scope.replies);
              }
              else{
                $scope.$apply(function(){
                  $scope.readyToAnswer = true;
                });
                $scope.$apply(function(){
                  $scope.replies.push({name:'New Bing', className : 'bingReply', imgURL:'./src/images/Bing.png',data:'Error: '+http.status+'请刷新该页面或重新发送信息以重试。\n'+'message：'+eval('('+http.responseText+')').message, urls:[]});
                });
                console.log('Bing Answer Error');
              }
            }
            if ($scope.autoScroll){
              window.scrollTo(0, document.body.scrollHeight);
            }
            return; 
          };
    $scope.userReplyData = '';
    http.send();
    if ($scope.autoScroll){
      window.scrollTo(0, document.body.scrollHeight);
    }
    return;
  };
});
    </script>
  </body>
</html>