.bingReply
{
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(23px);
  border-radius: 25px;
  box-shadow:inset 0 0 6px rgba(255, 255, 255, 0.2);
  padding: 3%;
}
.userReply
{
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(23px);
  border-radius: 25px;
  box-shadow:inset 0 0 6px rgba(255, 255, 255, 0.2);
  padding: 3%;
}
.p{
  background-image:-webkit-linear-gradient(right, #039ac8,#10c74d);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}
.a{
  background-image:-webkit-linear-gradient(right, #039ac8,#10c74d);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  text-decoration:none;
}
.a:hover{
  border: 2px solid rgb(27, 210, 113);
  margin-left: -2px;
}
.demoinput2{
  outline-style: none ;
  border: 1px solid #ccc; 
  border-radius: 3px;
  font-weight: 700;
  font-family: "Microsoft soft";
  resize:none;
  margin-bottom: 5%;
}
.demoinput2:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
.demoinput3{
  outline-style: none ;
  border: 1px solid #ccc; 
  border-radius: 3px;
  font-weight: 700;
  font-family: "Microsoft soft";
  resize:none;
  margin-bottom: 5%;
  width: 90%;
}
.demoinput3:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
.demoInput{
  outline-style: none ;
  border: 1px solid #ccc; 
  border-radius: 3px;
  padding: 13px 14px;
  width: 340%;
  height: 13%;
  font-size: 14px;
  font-weight: 700;
  font-family: "Microsoft soft";
  resize:none;
}
.demoInput:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
.inputBox1
{
  position: fixed;
  bottom: 2%;
  margin-left: 0%;
  float:left;
}
.inputBox2
{
  position: fixed;
  width: 15%;
  bottom: 2%;
  margin-left: 15%;
  float:left;
}
.inputBox3
{
  position: fixed;
  bottom: 2%;
  margin-right: 5%;
  margin-left: 70%;
  float: left;
}
@media screen and (max-width: 1000px) and (min-width: 750px){
  .inputBox1
  {
    position: fixed;    
    bottom: 10%;
    margin-left: 0%;
    float:left;
  }
  .inputBox2
  {
    position: fixed;
    width: 25%;
    bottom: 2%;
    margin-left: 5%;
    float:left;
  }
  .inputBox3
  {
    position: fixed;
    bottom: 10%;
    margin-left: 60%;
    float: left;
  }
}
@media screen and (max-width: 750px) {
  .inputBox1
  {
    position: fixed;    
    bottom: 13%;
    margin-left: 0%;
    float:left;
  }
  .inputBox2
  {
    position: fixed;
    width: 25%;
    bottom: 2%;
    margin-left: 5%;
    float:left;
  }
  .inputBox3
  {
    position: fixed;
    bottom: 13%;
    margin-left: 40%;
    float: left;
  }
}
#frozen-btn {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

button {
  border: 0;
  margin: 6px;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  padding: 15px 50px;
  border-radius: 50px;
  color: white;
  outline: none;
  position: relative;
}
@media screen and (max-width: 1000px) and (min-width: 750px){
  button {
    border: 0;
    margin: 6px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 50px;
    color: white;
    outline: none;
    position: relative;
  }
}
@media screen and (max-width: 750px){
  button {
    border: 0;
    margin: 6px;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 50px;
    color: white;
    outline: none;
    position: relative;
  }
}

button:before{
  content: '';
  display: block;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.4) 50%);
  background-size: 210% 100%;
  background-position: right bottom;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom:0;
  right:0;
  left: 0;
  border-radius: 50px;
  transition: all 1s;
  -webkit-transition: all 1s;
}
.blue {
  background-image: linear-gradient(to right, #2345c0,#1a9dd6);
  box-shadow: 0 4px 15px 0 rgba(4, 70, 185, 0.75);
}

.blue:hover:before {
  background-position: left bottom;
}

.green {
  background-image: linear-gradient(to right, #25aae1, #40e495);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.green:hover:before {
  background-position: left bottom;
}

.green2 {
  background-image: linear-gradient(to right, #40e495,#25aae1);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.green2:hover:before {
  background-position: left bottom;
}

.grey {
  background-image: linear-gradient(to right, #a8a8a8, #606060);
  box-shadow: 0 4px 15px 0 rgba(51, 51, 51, 0.75);
}

.grey:hover:before {
  background-position: left bottom;
}
.reply{
  margin-left:22%;
  margin-right:22%;
  margin-bottom: 2%;
}
.headImg{
  height: 5%;
  width: 5%;
  float:left;
}
.loadingSeven{
  width: 80px;
  height: 40px;
}
.loadingSeven span{
    display: inline-block;
    width: 8px;
    height: 100%;
    border-radius: 4px;
    background: lightgreen;
    -webkit-animation: loadsaven 1.04s ease infinite;
}
@-webkit-keyframes loadsaven{
    0%,100%{
        height: 40px;
        background: lightgreen;
    }
    50%{
        height: 60px;
        margin-top: -20px;
        background: lightblue;
    }
}
.loadingSeven span:nth-child(2){
    -webkit-animation-delay:0.13s;
}
.loadingSeven span:nth-child(3){
    -webkit-animation-delay:0.26s;
}
.loadingSeven span:nth-child(4){
    -webkit-animation-delay:0.39s;
}
.loadingSeven span:nth-child(5){
    -webkit-animation-delay:0.52s;
}
.settingBox{
  background: linear-gradient(to right,rgb(100, 100, 100), rgb(64, 64, 64));
  border-radius:10%;
  padding-right:5%;
  padding-top:5%;
  padding-left:7%;
}
* {
  margin: 0;
  padding: 0;
}

.inputCheckBox {
  display: none;
}
label {
  margin-bottom: 5%;
  display: block;
  width: 40%;
  height: 15px;
  border-radius: 10%;
  background: rgb(5, 79, 84);
  border: 1px solid #eee;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
label::before {
  display: block;
  content: '';
  width: 35%;
  height: 100%;
  border-radius: 0%;
  background: white;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  transition: all .3s;
}
label::after {
  height: 100%;
  display: block;
  content: '';
  width: 0;
  background: linear-gradient(to right, rgb(76, 158, 235), rgb(21, 206, 89));
  transition: all .3s;
  border-radius: 10%;
}
input:checked + label::before {
  left: 140px;
}
input:checked + label::after {
  width: 100%;
}
.setData{
  float: left;
  color:white;
}
.shortselect{  
    background:#fafdfe;  
    height:30%;  
    width:70%;  
    line-height:28px;  
    border:1px solid #9bc0dd;  
    -moz-border-radius:2px;  
    -webkit-border-radius:2px;  
    border-radius:2px;  
    margin-bottom: 5%;
}
.textInput{
  margin-bottom: 5%;
}
img{
  border-radius: 10px;
}