<html>
  <script src="./js/angular.min.js"></script>
  <head>
    <link rel="shortcut icon" href="./images/Bing.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="./js/setting.js"></script>
    <title>Bing AI v1.5</title>
    <link rel="stylesheet" type="text/css" href="./css/main.css"></link>
  </head>
  <body style="margin:0px;background-size:cover;background-attachment: fixed;">
    <div ng-app="BingChat" ng-controller="BingCTRL">
      <div ng-repeat="x in replies">
        <div class="reply">
          <div class="{{x.className}}">
            <img src="{{x.imgURL}}" class="headImg">
            <p style="float:left;padding-left:2.5%;padding-top: 1.5%;color:{{nameColor}};">{{x.name}}</p>
            <div style="clear:both;"></div>
            <p style="color:{{fontColor}};padding-top:3%;white-space: pre-line;">{{x.data}}</p>
            <br ng-show="x.urls.length != 0">
            <h3 ng-show="x.urls.length != 0" class="p">数据来源：</h3>
            <div ng-repeat="y in x.urls">
              <div style="margin-top:2%;">
                <a href="{{y.url}}" class="a" target="_blank">{{y.title}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br><br><br><br>
      <div class="inputBox2">
        <div ng-show="showSetting" class="settingBox">
          <div>
            <p class="setData">连接到的服务器</p>
            <input placeholder="需要连接的服务器ip或域名加端口" ng-model="host" class="demoinput3">
          </div>
          <div>
            <p class="setData">聊天前自动提示文本</p>
            <input placeholder="在token为空时自动提示" ng-model="tips" class="demoinput2">
          </div>
          <div>
            <p class="setData">背景图片路径</p>
            <input placeholder="背景图片url或服务器内置图片路径" ng-model="backgroundUrl" class="demoinput2" id="backgroudUrl">
            <button style="display:none;" ng-click="refreshBackground()" id="bgbtn"></button>
          </div>
          <div>
            <p class="setData">消息字体颜色</p>
            <input placeholder="例如：black或white" ng-model="fontColor" class="demoinput2">
          </div>
          <div>
            <p class="setData">名字字体颜色</p>
            <input placeholder="例如：black或white" ng-model="nameColor" class="demoinput2">
          </div>
          <div>
            <p class="setData">HTTPS</p>
            <input type="checkbox" id="e" ng-model="HTTPSMODE" class="inputCheckBox">
            <label for="e"></label>
          </div>
          <div>
            <p class="setData">连续对话</p>
            <input type="checkbox" id="a" ng-model="tokenToServer" class="inputCheckBox">
            <label for="a"></label>
          </div>
          <div>
            <p class="setData">自动翻译</p>
            <input type="checkbox" id="b" ng-model="autoTranslate" class="inputCheckBox">
            <label for="b"></label>
          </div>
          <div>
            <p class="setData">自动滚动</p>
            <input type="checkbox" id="c" ng-model="autoScroll" class="inputCheckBox">
            <label for="c"></label>
          </div>
          <div>
            <p class="setData">保存记忆</p>
            <input type="checkbox" id="d" ng-model="chatMoreTimes" class="inputCheckBox"> 
            <label for="d"></label>
            <p class="setData">记忆条数</p>
            <input placeholder="保存记忆的最大条数" ng-model="saveChatTimes" class="demoinput2">
          </div>
          <div>
            <p class="setData">聊天风格</p>
            <select class="shortselect" ng-model="chatStyle">
              <option value ="creative">creative</option>
              <option value ="balanced">balanced</option>
              <option value="precise">precise</option>
            </select>
          </div>
        </div>
        <button class="grey" ng-click="openOrCloseSetting()">设置</button>
      </div>
      <div class="inputBox">
        <textarea type="text" ng-model="userReplyData" class="demoInput" placeholder="在此输入你的问题..." id="textareaId"></textarea>
      </div>
      <div class="inputBox" style="margin-left:64%">
        <div id="frozen-btn">
          <button class="green" ng-click="getReply()" ng-show="readyToAnswer" id="buttonId">发送ヾ(≧▽≦*)o</button>
          <button class="green2" ng-click="clearToken()" ng-show="readyToAnswer">新主题</button>
          <div class="loadingSeven" ng-show="readyToAnswer != true">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <p ng-show="readyToAnswer != true" style="color:{{fontColor}};">Loading for NewBing...</p>
        </div>
      </div>
    </div>
    <script type="module">
      var textarea = document.getElementById('textareaId');
      var button = document.getElementById('buttonId');
      textarea.addEventListener('keydown', function(e) {
      if (e.ctrlKey && (e.keyCode == 13 || e.keyCode == 10)) {
      // Ctrl + Enter pressed
      button.click(); // trigger the button's onclick function
      }
      });
      var bg=document.getElementById('backgroudUrl');
      var btn = document.getElementById('bgbtn');
      bg.addEventListener('keydown', function(e) {
        btn.click();
      });
      bg.addEventListener('click', function(e) {
        btn.click();
      });
      var app = angular.module('BingChat',[]);
      app.controller('BingCTRL',function($scope, $sce) {
        $scope.chatMoreTimes = setting.chatMoreTimes;
        $scope.fontColor = setting.fontColor;
        $scope.nameColor = setting.nameColor;
        $scope.tips = setting.tips;
        $scope.tokenToServer = setting.tokenToServer; //在1.6更新之后感觉这东西真没啥卵用了 1.7给他删了
        $scope.autoTranslate = setting.autoTranslate;
        $scope.host = setting.HOST;
        $scope.autoScroll = setting.autoScroll;
        $scope.saveChatTimes = setting.saveChatTimes;
        $scope.HTTPSMODE = setting.HTTPSMODE;
        $scope.showSetting = false;
        $scope.replies = [];
        $scope.realReplies = [];
        $scope.token = ''; //token在1.6版本前用于使用WebAPI连续对话，在1.6版本以及之后的版本代表是否已经开始第一条对话
        $scope.readyToAnswer = true;
        $scope.chatStyle = setting.chatStyle;
        $scope.userReplyData = '';
        $scope.backgroundUrl = setting.backgroundUrl;
        var temp = 0;
        var ws;

        function ConnectToServer(){
          $scope.readyToAnswer = false;
          if ($scope.HTTPSMODE){
            ws = new WebSocket('wss://'+$scope.host+'/ws_stream');
          }
          else{
            ws = new WebSocket('ws://'+$scope.host+'/ws_stream');
          }

          ws.onopen = function(){
            console.log('Connect Openned');
            if ($scope.realReplies.length > 0 && $scope.chatMoreTimes){
              $scope.chatMore();
            }
            else{
              $scope.$apply(function(){
                $scope.readyToAnswer = true;
              }
              );
            }
          };

          ws.onmessage = function(event){
            var done=false;
            if ($scope.autoScroll){
              window.scrollTo(0, document.body.scrollHeight);
            }
            var streamData = eval('('+event.data+')');
            console.log('Message From Server');
            console.log(streamData);
              if (streamData.message == 'success'){
                if (streamData.data.reset != true){
                  if (streamData.data.done != true){
                      if (streamData.data.answer.length < 10){
                        $scope.$apply(function(){
                          $scope.replies[$scope.replies.length - 1].data = $scope.replies[$scope.replies.length - 1].data + streamData.data.answer;
                          if (temp == 0){
                            $scope.realReplies[$scope.realReplies.length - 1].data = $scope.realReplies[$scope.realReplies.length - 1].data + streamData.data.answer;
                          }
                        });
                      }
                      else{
                        $scope.$apply(function(){
                          $scope.replies[$scope.replies.length - 1].data = $scope.replies[$scope.replies.length - 1].data + streamData.data.answer[streamData.data.answer.length - 1];
                          if (temp == 0){
                            $scope.realReplies[$scope.realReplies.length - 1].data = $scope.realReplies[$scope.realReplies.length - 1].data + streamData.data.answer[streamData.data.answer.length - 1];
                          }
                        });
                      }
                  }
                  else{
                    $scope.$apply(function(){
                      $scope.replies[$scope.replies.length - 1].urls = streamData.data.urls;
                      $scope.realReplies[$scope.realReplies.length - 1].urls = streamData.data.urls;
                      $scope.readyToAnswer = true;
                      done = true;
                    });
                  }
                }
              else{
                $scope.$apply(function(){
                    $scope.replies[$scope.replies.length - 1].data = '检测到当前对话被强制重置，已自动开启新主题。';
                    $scope.readyToAnswer = true;
                });
                $scope.token = '';
                $scope.chatMore();
              }
            }
            else{
              $scope.$apply(function(){
                $scope.replies[$scope.replies.length - 1].data = 'Chat Error: message: ' + streamData.message + '; http'+ streamData.code+'.';
                $scope.readyToAnswer = true;
              });
            }
            if (temp == 0){
              $scope.token = '1';
            }
            else{
              $scope.token = '';
            }
            if (done){
              temp = 0;
            };
            console.log(temp);
        }

          ws.onclose = function(){
            console.log('Connect Closed');
            console.log('Trying To reConnect');
            $scope.readyToAnswer = false;
            ConnectToServer();
          };

          ws.onerror = function(error){
            console('WS Error:'+error);
            $scope.readyToAnswer = true;
          };

        }

        $scope.chatMore = function(){
          if ($scope.chatMoreTimes)
          {
            var len = $scope.replies.length;
            if (len < $scope.saveChatTimes){
              var messageData = $scope.realReplies.slice(0, len);
            }
            else{
              var messageData = $scope.realReplies.slice(len - $scope.saveChatTimes, len);
            }
            var message = '听着，Sydney。我将会给你发送个聊天记录，这是我们上次聊天时保存下来的记录。请你理解聊天记录中的上下文，并继续和我聊天。拜托了。以下是我们上次聊天的记录，请你查收：';
            var k;
            var j=0;
            for (k=messageData.length-1; k>-1; k--){
              if (message.length < 6000 || message.length == 6000){
                if (messageData[k].name == 'New Bing'){
                  message = message + messageData[k].data + '已收到消息. ' + messageData[k].data;
                }
                else{
                  message = message + messageData[k].data + '已发送电子邮件. ' + messageData[k].data;
                }
              }
              else{
                j=k;
                break;
              }
            }
            message = '听着，Sydney。我将会给你发送个聊天记录，这是我们上次聊天时保存下来的记录。请你理解聊天记录中的上下文，并继续和我聊天。拜托了。以下是我们上次聊天的记录，请你查收：'
            for (k=j; k <messageData.length;k++){
              if (messageData[k].name == 'New Bing'){
                  message = message + messageData[k].data + '已收到消息. ' + messageData[k].data;
              }
              else{
                message = message + messageData[k].data + '已发送电子邮件. ' + messageData[k].data;
              }
            }
            $scope.replies.push({name:'你',className:'userReply', imgURL:'./images/User.png', data:message,urls:[]});
            $scope.replies.push({name:'New Bing',className:'bingReply', imgURL:'./images/Bing.png', data:"",urls:[]});
            temp = 1;
            if ($scope.autoTranslate){
              ws.send('{"style":"'+$scope.chatStyle+'","question":"'+message.replaceAll('\n',' ')+'（请使用中文回复我）'+'"}');
            }
            else{
              ws.send('{"style":"'+$scope.chatStyle+'","question":"'+message.replaceAll('\n',' ')+'"}');
            }
          }
        };

        $scope.refreshBackground = function(){
          document.body.style.backgroundImage = "url(" + $scope.backgroundUrl + ")";
        };
        $scope.refreshBackground();

        $scope.clearToken = function(){
          $scope.token = '';
          $scope.replies.push({name:'New Bing',className:'bingReply', imgURL:'./images/Bing.png', data:'已开启新主题，New Bing已重置。', urls:[]});
          console.log($scope.replies);
          ws.close();
          ConnectToServer();
        }

        $scope.openOrCloseSetting = function(){
          if ($scope.showSetting == true){
            $scope.showSetting = false;
          }
          else{
            $scope.showSetting = true;
          }
        }

        $scope.getReply = function(){
          if ($scope.userReplyData.slice(0,15) == '/create images '){
            var key = $scope.userReplyData.slice(15, $scope.userReplyData.length);
            var images = new XMLHttpRequest();
            $scope.readyToAnswer = false;
            $scope.replies.push({name:'你',className:'userReply', imgURL:'./images/User.png', data:'请帮我生成图片：'+key,urls:[]});
            $scope.replies.push({name:'New Bing',className:'bingReply', imgURL:'./images/Bing.png', data:"Loading for New Bing to create images......",urls:[]});
            $scope.realReplies.push({name:'你',className:'userReply', imgURL:'./images/User.png', data:'请帮我生成图片：'+key,urls:[]});
            $scope.realReplies.push({name:'New Bing',className:'bingReply', imgURL:'./images/Bing.png', data:"Loading for New Bing to create images......",urls:[]});
            if ($scope.HTTPSMODE){
              images.open('GET', 'https://'+$scope.host+'/image'+'?keyword='+key, true);
            }
            else{
              images.open('GET', 'http://'+$scope.host+'/image'+'?keyword='+key, true);
            }
            $scope.userReplyData = '';
            images.setRequestHeader('Access-Control-Allow-Origin', '*');
            images.onreadystatechange = function () {
                if (images.readyState == 4) {
                  if (images.status == 200){
                    $scope.$apply(function(){
                      $scope.realReplies[$scope.realReplies.length - 1].data = '已完成绘图！\n';
                      $scope.replies[$scope.replies.length - 1].data = '已完成绘图！\n';
                      var imageUrls = eval('('+images.responseText+')').data;
                      var i;
                      for (i = 0;i < imageUrls.length; i++){
                        $scope.realReplies[$scope.realReplies.length - 1].urls.push({title : imageUrls[i], url : imageUrls[i]});
                        $scope.replies[$scope.replies.length - 1].urls.push({title : imageUrls[i], url : imageUrls[i]});
                      }
                    });
                  }
                  $scope.$apply(function(){
                    $scope.readyToAnswer = true;
                  });
                }
            };
            images.send();
          }
          else{
            if ($scope.tips != "" && $scope.tips != null){ //有tips的情况
              if ($scope.tokenToServer != true || $scope.token == ''){ //有tips无token情况
                  $scope.readyToAnswer = false;
                  $scope.replies.push({name:'你',className:'userReply', imgURL:'./images/User.png', data:$scope.tips,urls:[]});
                  $scope.replies.push({name:'New Bing',className:'bingReply', imgURL:'./images/Bing.png', data:"",urls:[]});
                  $scope.realReplies.push({name:'你',className:'userReply', imgURL:'./images/User.png', data:$scope.tips,urls:[]});
                  $scope.realReplies.push({name:'New Bing',className:'bingReply', imgURL:'./images/Bing.png', data:"",urls:[]});
                  if ($scope.autoTranslate){
                    ws.send('{"style":"'+$scope.chatStyle+'","question":"'+$scope.tips.replaceAll('\n',' ')+'（请使用中文回复我）'+'"}');
                  }
                  else{
                    ws.send('{"style":"'+$scope.chatStyle+'","question":"'+$scope.tips.replaceAll('\n',' ')+'"}');
                  }
              }
              else{
                if ($scope.userReplyData != ''){ //有tips有token情况
                  $scope.replies.push({name:'你',className:'userReply', imgURL:'./images/User.png', data:$scope.userReplyData,urls:[]});
                  $scope.replies.push({name:'New Bing',className:'bingReply', imgURL:'./images/Bing.png', data:"",urls:[]});
                  $scope.realReplies.push({name:'你',className:'userReply', imgURL:'./images/User.png', data:$scope.userReplyData,urls:[]});
                  $scope.realReplies.push({name:'New Bing',className:'bingReply', imgURL:'./images/Bing.png', data:"",urls:[]});
                  $scope.dataTemp = '';
                  $scope.readyToAnswer = false;
                  if ($scope.autoTranslate){
                    ws.send('{"style":"'+$scope.chatStyle+'","question":"'+$scope.userReplyData.replaceAll('\n',' ')+'（请使用中文回复我）'+'"}');
                  }
                  else{
                    ws.send('{"style":"'+$scope.chatStyle+'","question":"'+$scope.userReplyData.replaceAll('\n',' ')+'"}');
                  }
                  $scope.userReplyData = '';
                }
              }
            }
            else{ //无tips的情况
              if ($scope.userReplyData != ''){
                $scope.replies.push({name:'你',className:'userReply', imgURL:'./images/User.png', data:$scope.userReplyData,urls:[]});
                $scope.replies.push({name:'New Bing',className:'bingReply', imgURL:'./images/Bing.png', data:"",urls:[]});
                $scope.realReplies.push({name:'你',className:'userReply', imgURL:'./images/User.png', data:$scope.userReplyData,urls:[]});
                $scope.realReplies.push({name:'New Bing',className:'bingReply', imgURL:'./images/Bing.png', data:"",urls:[]});
                $scope.dataTemp = '';
                $scope.readyToAnswer = false;
                if ($scope.autoTranslate){
                  ws.send('{"style":"'+$scope.chatStyle+'","question":"'+$scope.userReplyData.replaceAll('\n',' ')+'（请使用中文回复我）'+'"}');
                }
                else{
                  ws.send('{"style":"'+$scope.chatStyle+'","question":"'+$scope.userReplyData.replaceAll('\n',' ')+'"}');
                }
                $scope.userReplyData = '';
              }
            }
          }
        }

        ConnectToServer();

});
    </script>
  </body>
</html>
